chooser.source=UW EWS

helicorder=helicorder-0
helicorder=helicorder-1
helicorder=helicorder-2
helicorder=helicorder-3

helicorder-0.alertClip=false

helicorder-0.alertClipTimeout=300

helicorder-0.autoScale=true

helicorder-0.barMult=3.0

helicorder-0.barRange=551

helicorder-0.bottomTime=NaN

helicorder-0.channel=RED EHZ UW --

helicorder-0.clipBars=21

helicorder-0.clipValue=3857

helicorder-0.forceCenter=false

helicorder-0.h=932

helicorder-0.maximized=false

helicorder-0.pinned=false

helicorder-0.refreshInterval=60

helicorder-0.scrollSize=24

helicorder-0.showClip=true

helicorder-0.source=UW EWS

helicorder-0.span=1440

helicorder-0.timeChunk=1800

helicorder-0.w=223

helicorder-0.wave.autoScaleAmp=true

helicorder-0.wave.autoScaleAmpMemory=true

helicorder-0.wave.autoScalePower=false

helicorder-0.wave.autoScalePowerMemory=true

helicorder-0.wave.binSize=2.0

helicorder-0.wave.filter.corner1=1.0

helicorder-0.wave.filter.corner2=10.0

helicorder-0.wave.filter.order=4

helicorder-0.wave.filter.samplingRate=100.0

helicorder-0.wave.filter.type=B

helicorder-0.wave.filterOn=false

helicorder-0.wave.logFreq=true

helicorder-0.wave.logPower=true

helicorder-0.wave.maxAmp=1000.0

helicorder-0.wave.maxFreq=25.0

helicorder-0.wave.maxPower=120.0

helicorder-0.wave.minAmp=-1000.0

helicorder-0.wave.minFreq=0.0

helicorder-0.wave.minPower=20.0

helicorder-0.wave.nfft=0

helicorder-0.wave.removeBias=true

helicorder-0.wave.spectrogramOverlap=0.859375

helicorder-0.wave.useUnits=true

helicorder-0.wave.viewType=W

helicorder-0.wave.zeroPhaseShift=true

helicorder-0.waveZoomOffset=30

helicorder-0.x=0

helicorder-0.y=0

helicorder-1.alertClip=false

helicorder-1.alertClipTimeout=300

helicorder-1.autoScale=true

helicorder-1.barMult=3.0

helicorder-1.barRange=414

helicorder-1.bottomTime=NaN

helicorder-1.channel=BEN EHZ UW --

helicorder-1.clipBars=21

helicorder-1.clipValue=2898

helicorder-1.forceCenter=false

helicorder-1.h=932

helicorder-1.maximized=false

helicorder-1.pinned=false

helicorder-1.refreshInterval=60

helicorder-1.scrollSize=24

helicorder-1.showClip=true

helicorder-1.source=UW EWS

helicorder-1.span=1440

helicorder-1.timeChunk=1800

helicorder-1.w=223

helicorder-1.wave.autoScaleAmp=true

helicorder-1.wave.autoScaleAmpMemory=true

helicorder-1.wave.autoScalePower=false

helicorder-1.wave.autoScalePowerMemory=true

helicorder-1.wave.binSize=2.0

helicorder-1.wave.filter.corner1=1.0

helicorder-1.wave.filter.corner2=10.0

helicorder-1.wave.filter.order=4

helicorder-1.wave.filter.samplingRate=100.0

helicorder-1.wave.filter.type=B

helicorder-1.wave.filterOn=false

helicorder-1.wave.logFreq=true

helicorder-1.wave.logPower=true

helicorder-1.wave.maxAmp=1000.0

helicorder-1.wave.maxFreq=25.0

helicorder-1.wave.maxPower=120.0

helicorder-1.wave.minAmp=-1000.0

helicorder-1.wave.minFreq=0.0

helicorder-1.wave.minPower=20.0

helicorder-1.wave.nfft=0

helicorder-1.wave.removeBias=true

helicorder-1.wave.spectrogramOverlap=0.859375

helicorder-1.wave.useUnits=true

helicorder-1.wave.viewType=W

helicorder-1.wave.zeroPhaseShift=true

helicorder-1.waveZoomOffset=30

helicorder-1.x=223

helicorder-1.y=0

helicorder-2.alertClip=false

helicorder-2.alertClipTimeout=300

helicorder-2.autoScale=true

helicorder-2.barMult=3.0

helicorder-2.barRange=328

helicorder-2.bottomTime=NaN

helicorder-2.channel=H2E HNZ UW --

helicorder-2.clipBars=21

helicorder-2.clipValue=2299

helicorder-2.forceCenter=false

helicorder-2.h=932

helicorder-2.maximized=false

helicorder-2.pinned=false

helicorder-2.refreshInterval=60

helicorder-2.scrollSize=24

helicorder-2.showClip=true

helicorder-2.source=UW EWS

helicorder-2.span=1440

helicorder-2.timeChunk=1800

helicorder-2.w=223

helicorder-2.wave.autoScaleAmp=true

helicorder-2.wave.autoScaleAmpMemory=true

helicorder-2.wave.autoScalePower=false

helicorder-2.wave.autoScalePowerMemory=true

helicorder-2.wave.binSize=2.0

helicorder-2.wave.filter.corner1=1.0

helicorder-2.wave.filter.corner2=10.0

helicorder-2.wave.filter.order=4

helicorder-2.wave.filter.samplingRate=100.0

helicorder-2.wave.filter.type=B

helicorder-2.wave.filterOn=false

helicorder-2.wave.logFreq=true

helicorder-2.wave.logPower=true

helicorder-2.wave.maxAmp=1000.0

helicorder-2.wave.maxFreq=25.0

helicorder-2.wave.maxPower=120.0

helicorder-2.wave.minAmp=-1000.0

helicorder-2.wave.minFreq=0.0

helicorder-2.wave.minPower=20.0

helicorder-2.wave.nfft=0

helicorder-2.wave.removeBias=true

helicorder-2.wave.spectrogramOverlap=0.859375

helicorder-2.wave.useUnits=true

helicorder-2.wave.viewType=W

helicorder-2.wave.zeroPhaseShift=true

helicorder-2.waveZoomOffset=30

helicorder-2.x=446

helicorder-2.y=0

helicorder-3.alertClip=false

helicorder-3.alertClipTimeout=300

helicorder-3.autoScale=true

helicorder-3.barMult=3.0

helicorder-3.barRange=583

helicorder-3.bottomTime=NaN

helicorder-3.channel=RSW EHZ UW --

helicorder-3.clipBars=21

helicorder-3.clipValue=4082

helicorder-3.forceCenter=false

helicorder-3.h=932

helicorder-3.maximized=false

helicorder-3.pinned=false

helicorder-3.refreshInterval=60

helicorder-3.scrollSize=24

helicorder-3.showClip=true

helicorder-3.source=UW EWS

helicorder-3.span=1440

helicorder-3.timeChunk=1800

helicorder-3.w=223

helicorder-3.wave.autoScaleAmp=true

helicorder-3.wave.autoScaleAmpMemory=true

helicorder-3.wave.autoScalePower=false

helicorder-3.wave.autoScalePowerMemory=true

helicorder-3.wave.binSize=2.0

helicorder-3.wave.filter.corner1=1.0

helicorder-3.wave.filter.corner2=10.0

helicorder-3.wave.filter.order=4

helicorder-3.wave.filter.samplingRate=100.0

helicorder-3.wave.filter.type=B

helicorder-3.wave.filterOn=false

helicorder-3.wave.logFreq=true

helicorder-3.wave.logPower=true

helicorder-3.wave.maxAmp=1000.0

helicorder-3.wave.maxFreq=25.0

helicorder-3.wave.maxPower=120.0

helicorder-3.wave.minAmp=-1000.0

helicorder-3.wave.minFreq=0.0

helicorder-3.wave.minPower=20.0

helicorder-3.wave.nfft=0

helicorder-3.wave.removeBias=true

helicorder-3.wave.spectrogramOverlap=0.859375

helicorder-3.wave.useUnits=true

helicorder-3.wave.viewType=W

helicorder-3.wave.zeroPhaseShift=true

helicorder-3.waveZoomOffset=30

helicorder-3.x=669

helicorder-3.y=0

kiosk=true

kioskX=0

kioskY=0

monitor=monitor-4

monitor-4.h=932

monitor-4.maximized=false

monitor-4.refreshInterval=5000

monitor-4.slideInterval=2500

monitor-4.source=UW EWS

monitor-4.spanIndex=3

monitor-4.w=223

monitor-4.wave-0.autoScaleAmp=false

monitor-4.wave-0.autoScaleAmpMemory=false

monitor-4.wave-0.autoScalePower=false

monitor-4.wave-0.autoScalePowerMemory=false

monitor-4.wave-0.binSize=2.0

monitor-4.wave-0.channel=RED EHZ UW --

monitor-4.wave-0.filter.corner1=1.0

monitor-4.wave-0.filter.corner2=10.0

monitor-4.wave-0.filter.order=4

monitor-4.wave-0.filter.samplingRate=100.0

monitor-4.wave-0.filter.type=B

monitor-4.wave-0.filterOn=false

monitor-4.wave-0.logFreq=true

monitor-4.wave-0.logPower=true

monitor-4.wave-0.maxAmp=1000.0

monitor-4.wave-0.maxFreq=25.0

monitor-4.wave-0.maxPower=120.0

monitor-4.wave-0.minAmp=-1000.0

monitor-4.wave-0.minFreq=0.0

monitor-4.wave-0.minPower=20.0

monitor-4.wave-0.nfft=0

monitor-4.wave-0.removeBias=true

monitor-4.wave-0.spectrogramOverlap=0.86

monitor-4.wave-0.useUnits=true

monitor-4.wave-0.viewType=W

monitor-4.wave-0.zeroPhaseShift=false

monitor-4.wave-1.autoScaleAmp=false

monitor-4.wave-1.autoScaleAmpMemory=false

monitor-4.wave-1.autoScalePower=false

monitor-4.wave-1.autoScalePowerMemory=false

monitor-4.wave-1.binSize=2.0

monitor-4.wave-1.channel=BEN EHZ UW --

monitor-4.wave-1.filter.corner1=1.0

monitor-4.wave-1.filter.corner2=10.0

monitor-4.wave-1.filter.order=4

monitor-4.wave-1.filter.samplingRate=100.0

monitor-4.wave-1.filter.type=B

monitor-4.wave-1.filterOn=false

monitor-4.wave-1.logFreq=true

monitor-4.wave-1.logPower=true

monitor-4.wave-1.maxAmp=1000.0

monitor-4.wave-1.maxFreq=25.0

monitor-4.wave-1.maxPower=120.0

monitor-4.wave-1.minAmp=-1000.0

monitor-4.wave-1.minFreq=0.0

monitor-4.wave-1.minPower=20.0

monitor-4.wave-1.nfft=0

monitor-4.wave-1.removeBias=true

monitor-4.wave-1.spectrogramOverlap=0.859375

monitor-4.wave-1.useUnits=true

monitor-4.wave-1.viewType=W

monitor-4.wave-1.zeroPhaseShift=true

monitor-4.wave-2.autoScaleAmp=false

monitor-4.wave-2.autoScaleAmpMemory=false

monitor-4.wave-2.autoScalePower=false

monitor-4.wave-2.autoScalePowerMemory=false

monitor-4.wave-2.binSize=2.0

monitor-4.wave-2.channel=H2E HNE UW --

monitor-4.wave-2.filter.corner1=1.0

monitor-4.wave-2.filter.corner2=10.0

monitor-4.wave-2.filter.order=4

monitor-4.wave-2.filter.samplingRate=100.0

monitor-4.wave-2.filter.type=B

monitor-4.wave-2.filterOn=false

monitor-4.wave-2.logFreq=true

monitor-4.wave-2.logPower=true

monitor-4.wave-2.maxAmp=1000.0

monitor-4.wave-2.maxFreq=25.0

monitor-4.wave-2.maxPower=120.0

monitor-4.wave-2.minAmp=-1000.0

monitor-4.wave-2.minFreq=0.0

monitor-4.wave-2.minPower=20.0

monitor-4.wave-2.nfft=0

monitor-4.wave-2.removeBias=true

monitor-4.wave-2.spectrogramOverlap=0.86

monitor-4.wave-2.useUnits=true

monitor-4.wave-2.viewType=W

monitor-4.wave-2.zeroPhaseShift=false

monitor-4.wave-3.autoScaleAmp=false

monitor-4.wave-3.autoScaleAmpMemory=false

monitor-4.wave-3.autoScalePower=false

monitor-4.wave-3.autoScalePowerMemory=false

monitor-4.wave-3.binSize=2.0

monitor-4.wave-3.channel=H2E HNN UW --

monitor-4.wave-3.filter.corner1=1.0

monitor-4.wave-3.filter.corner2=10.0

monitor-4.wave-3.filter.order=4

monitor-4.wave-3.filter.samplingRate=100.0

monitor-4.wave-3.filter.type=B

monitor-4.wave-3.filterOn=false

monitor-4.wave-3.logFreq=true

monitor-4.wave-3.logPower=true

monitor-4.wave-3.maxAmp=1000.0

monitor-4.wave-3.maxFreq=25.0

monitor-4.wave-3.maxPower=120.0

monitor-4.wave-3.minAmp=-1000.0

monitor-4.wave-3.minFreq=0.0

monitor-4.wave-3.minPower=20.0

monitor-4.wave-3.nfft=0

monitor-4.wave-3.removeBias=true

monitor-4.wave-3.spectrogramOverlap=0.859375

monitor-4.wave-3.useUnits=true

monitor-4.wave-3.viewType=W

monitor-4.wave-3.zeroPhaseShift=true

monitor-4.wave-4.autoScaleAmp=false

monitor-4.wave-4.autoScaleAmpMemory=false

monitor-4.wave-4.autoScalePower=false

monitor-4.wave-4.autoScalePowerMemory=false

monitor-4.wave-4.binSize=2.0

monitor-4.wave-4.channel=H2E HNZ UW --

monitor-4.wave-4.filter.corner1=1.0

monitor-4.wave-4.filter.corner2=10.0

monitor-4.wave-4.filter.order=4

monitor-4.wave-4.filter.samplingRate=100.0

monitor-4.wave-4.filter.type=B

monitor-4.wave-4.filterOn=false

monitor-4.wave-4.logFreq=true

monitor-4.wave-4.logPower=true

monitor-4.wave-4.maxAmp=1000.0

monitor-4.wave-4.maxFreq=25.0

monitor-4.wave-4.maxPower=120.0

monitor-4.wave-4.minAmp=-1000.0

monitor-4.wave-4.minFreq=0.0

monitor-4.wave-4.minPower=20.0

monitor-4.wave-4.nfft=0

monitor-4.wave-4.removeBias=true

monitor-4.wave-4.spectrogramOverlap=0.859375

monitor-4.wave-4.useUnits=true

monitor-4.wave-4.viewType=W

monitor-4.wave-4.zeroPhaseShift=true

monitor-4.wave-5.autoScaleAmp=false

monitor-4.wave-5.autoScaleAmpMemory=false

monitor-4.wave-5.autoScalePower=false

monitor-4.wave-5.autoScalePowerMemory=false

monitor-4.wave-5.binSize=2.0

monitor-4.wave-5.channel=RSW EHZ UW --

monitor-4.wave-5.filter.corner1=1.0

monitor-4.wave-5.filter.corner2=10.0

monitor-4.wave-5.filter.order=4

monitor-4.wave-5.filter.samplingRate=100.0

monitor-4.wave-5.filter.type=B

monitor-4.wave-5.filterOn=false

monitor-4.wave-5.logFreq=true

monitor-4.wave-5.logPower=true

monitor-4.wave-5.maxAmp=1000.0

monitor-4.wave-5.maxFreq=25.0

monitor-4.wave-5.maxPower=120.0

monitor-4.wave-5.minAmp=-1000.0

monitor-4.wave-5.minFreq=0.0

monitor-4.wave-5.minPower=20.0

monitor-4.wave-5.nfft=0

monitor-4.wave-5.removeBias=true

monitor-4.wave-5.spectrogramOverlap=0.859375

monitor-4.wave-5.useUnits=true

monitor-4.wave-5.viewType=W

monitor-4.wave-5.zeroPhaseShift=true

monitor-4.waves=6

monitor-4.x=892

monitor-4.y=0

name=monitor

